<div class="top">
    <!-- <p>flights works!</p> -->
    <button (click)="toggle()">Toggle</button>
</div>

<div class="bottom">
    <app-airports (select)="updateAirport($event)"></app-airports>

    <app-planes
        [airport]="selectedAirport"
        *ngIf="selectedAirport != ''"
        (select)="selectedPlane = $event"
    ></app-planes>

    <app-flight-graph
        [airport]="selectedAirport"
        [plane]="selectedPlane"
        *ngIf="selectedPlane.icao24 != ''"
        [gmbool]="gmbool"
    >
    </app-flight-graph>
</div>

<!-- {{selectedAirport}}
{{selectedPlane.icao24}}

<plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot> -->