<div class="top">
    <p>flights works!</p>
    Stuff in the top goes here
</div>

<div class="bottom">
    <app-airports (select)="updateAirport($event)"></app-airports>

    <app-planes
        [airport]="selectedAirport"
        *ngIf="selectedAirport != ''"
        (select)="selectedPlane = $event"
    ></app-planes>

    <app-flight-graph
        [plane]="selectedPlane"
        *ngIf="selectedPlane.icao24 != ''"
    >
    </app-flight-graph>
</div>

{{selectedAirport}}
{{selectedPlane.icao24}}