<header>
  <div>
    <span class="title">
      Flight Data API
    </span>
  </div>

  <nav>
    <!-- <a routerLink="">Home</a> -->
    <a routerLink="flights">Flights</a>
    <a routerLink="stats">Stats</a>
  </nav>

  <!-- <div class="data_buttons">
    Filler
    <button>Test Data</button>
    <button>Real Data</button>
  </div> -->
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <span>
    Made by Patricio Garcia, TP Week 7 Decemeber 2021
  </span>
</footer>

<!-- <iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/patogm/ckx85wlh43gb415n9ql59c7nf.html?title=false&access_token=pk.eyJ1IjoicGF0b2dtIiwiYSI6ImNreDg1dXJvZzMyZXEzMXEzZ2ZmZmd0MHQifQ.GkBRwqLwWeTNpy1vNkxElg&zoomwheel=false#9/37.78/-122.4241" title="Monochrome" style="border:none;"></iframe> -->

<!-- <h1>TEST</h1>

{{temp1}}

{{temp2}} -->

<!-- <div class="codes">
  <p *ngFor="let item of temp3">{{item.iata_code}}</p>
</div> -->